PATH=$PATH:$HOME/scripts

xset +fp /usr/share/fonts/TTF
xset +fp /usr/share/fonts/local
xset +fp /usr/share/fonts/misc
xset fp rehash

export LANG=en_US.UTF-8
export LANGUAGE=en_US.UTF-8
export XDG_CONFIG_HOME="$HOME/.config"
export WADS="$HOME/.wad"
export _JAVA_AWT_WM_NONREPARENTING=1
export PAGER=/usr/bin/less
export LESS=-Xr


~/scripts/autostart &



